{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="TheFoody is a food ordering platform which brings restaurants and food lovers together. Food ordering online is easier than any other platforms.">
	<meta name="keywords" content="food, order online, restaurant, reservation, book a table, foodies, cafe, recipes, menu, dishes, chefs and cooking experts ">
	<meta name="author" content="marquesds">

	<title>autoblue - {% block title %}{% endblock title %}</title>
	<!-- reset CSS -->
	<link href="{% static 'autoblue/css/reset.css' %}" rel="stylesheet" type="text/css">
	<!-- Bootstrap css -->
	<link href="{% static 'autoblue/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

	<!-- icon CSS -->
	<link href="{% static 'autoblue/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

	<!-- Main css -->
	<link href="{% static 'autoblue/css/main.css' %}" rel="stylesheet" type="text/css">

	<link rel="shortcut icon" href="{% static 'autoblue/img/autoblue-icon.png' %}" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="style-2 nav-on-header {% block body_class %}{% endblock body_class %}">

<!-- Start Loading -->
<section class="loading-overlay">
	<div class="Loading-Page">
		<h1 class="loader">Loading...</h1>
	</div>
</section>
<!-- End Loading  -->


<!-- Start Navigation bar -->
<nav class="navbar">
	<div class="container">

		<!-- Logo -->
		<div class="pull-left">
			<a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>
			<div class="logo-wrapper" style="width: 130px; margin-top: 15px;">
				<a class="logo" href="{% url 'core:home' %}"><img src="{% static 'autoblue/img/autoblue-black.png' %}" alt="logo"></a>
				<a class="logo-alt" href="{% url 'core:home' %}"><img src="{% static 'autoblue/img/autoblue-white.png' %}" alt="logo-alt"></a>
			</div>
		</div>
		<!-- END Logo -->

		<!-- User account -->
		<div class="pull-right user-login">
			<a class="btn btn-sm btn-primary" href="{% url 'accounts:login' %}">Login</a> ou &nbsp;
			<a href="{% url 'accounts:register' %}">Registre-se</a>
		</div>
		<!-- END User account -->
	</div>
</nav>
<!-- End Navigation bar -->

{% block content %}
{% endblock content %}

<!-- start footer area -->
<section id="index-footer" class="footer-area-content">

	<!-- Newsletter -->
	<div id="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3><i class="fa fa-envelope-o"></i>Assine nossa newsletter</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="col-sm-8">
						<input type="email" required="required" placeholder="Seu endereço de email" id="email" class="form-control" name="email">
					</div>
					<div class="col-sm-4">
						<a href="#" class="btn btn-subscribe">Assinar</a>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- END: Newsletter -->

	<div class="footer-bottom footer-wrapper style-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer-bottom-navigation">
						<div class="cell-view">
							<div class="footer-links">
								<a href="#">Site Map</a>
								<a href="#">Search</a>
								<a href="#">Terms</a>
								<a href="#">Advanced Search</a>
								<a href="#">Orders and Returns</a>
								<a href="#">Contact Us</a>
							</div>
							<div class="copyright">Created with by <a target="_blank" href="#">autoblue</a> . All right reserved</div>
						</div>
						<div class="cell-view">
							<div class="social-content">
								<a class="post-facebook" href="#"><i class="fa fa-facebook"></i></a>
								<a class="post-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="post-twitter" href="#"><i class="fa fa-twitter"></i></a>
								<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- footer area end -->

<!-- Back to top Link -->
<div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>

<!--Jquery-->
<script src="{% static 'autoblue/js/jquery-1.11.1.min.js' %}"></script>
<!-- Bootstrap Javascript -->
<script src="{% static 'autoblue/js/bootstrap.min.js' %}"></script>

<!-- Mynav Bar Script -->
<script src="{% static 'autoblue/js/app.min.js' %}"></script>

<!-- Custom Javascript -->
<script src="{% static 'autoblue/js/smoothscroll.js' %}"></script>
<script src="{% static 'autoblue/js/wow.min.js' %}"></script>
<script src="{% static 'autoblue/js/custom.js' %}"></script>
</body>
</html>
