{% extends 'core/base.html' %}
{% load static %}
{% block title %}home{% endblock title %}

{% block content %}
<!-- Content Start -->

<!-- start static header -->
<section class="static-section">
	<div class="container">
		<div class="row static-header-content-wrapper">
			<div class="col-md-12 static-header-content">
				<div class="static-header-text">
					<h4 class="white">Encontre as melhores oficinas perto de você!</h4>
					<h2 class="white margin-bottom-30">[Alguma coisa legal aqui...]</h2>
				</div>
				<div class="search-form-wrap2">
					<form class="clearfix" action="#">
						<div class="input-field-wrap pull-left">
							<input class="search-form-input" name="key-word" placeholder="DIGITE UM BAIRRO/CIDADE" type="text" />
						</div>
						<div class="select-field-wrap pull-left">
							<select class="search-form-select" name="categories">
								<option class="options" value="all-categories">TIPOS DE SERVIÇO</option>
								<option class="options" value="funilaria">FUNILARIA</option>
								<option class="options" value="injecao_eletronica">INJEÇÃO ELETRÔNICA</option>
								<option class="options" value="revisao">REVISÃO</option>
								<option class="options" value="suspencao">SUSPENÇÃO</option>
							</select>
						</div>
						<div class="submit-field-wrap pull-left">
							<input class="search-form-submit bgblue-1 white" name="key-word" type="submit" value="ENCONTRE UMA OFICINA" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end static header -->

<section id="best-restaurant" class="best-restaurant">
	<div class="container">

		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="font-lg">Escolha entre as  <span class="font-semibold chef-red">melhores</span>!</h2>
			</div>
			<!-- col-md-12 -->
		</div>

		<!-- Single Garage detail -->
		<div class="row">
			<!-- Garage detail -->
			<div class="col-md-6 col-xs-12">
				<div class="item-block">
					<header>
						<a href="#"><img src="{% static 'autoblue/img/cartudo.jpg' %}" alt=""></a>
						<div class="hgroup">
							<h4><a href="#">Cartudo Soluções Automotivas</a></h4>
							<h5>Mecânica Geral<span class="label label-success">Popular</span></h5>
						</div>
						<div class="header-meta">
							<span class="location">São Paulo - SP</span>
						</div>
					</header>

					<footer>
						<p class="status">
                                <span>
												<span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #CCCCCC;"><i class="fa fa-star" ></i></span>
                                <span class="review">
													(<span>155</span>)
                                </span>
                                </span>
						</p>
						<div class="action-btn">
							<a class="btn btn-xs btn-primary" href="#">Contratar</a>
						</div>
					</footer>
				</div>
			</div>
			<!-- END Garage detail -->

			<!-- Garage detail -->
			<div class="col-md-6 col-xs-12">
				<div class="item-block">
					<header>
						<a href="#"><img src="{% static 'autoblue/img/cartudo.jpg' %}" alt=""></a>
						<div class="hgroup">
							<h4><a href="#">Cartudo Soluções Automotivas</a></h4>
							<h5>Mecânica Geral<span class="label label-success">Popular</span></h5>
						</div>
						<div class="header-meta">
							<span class="location">São Paulo - SP</span>
						</div>
					</header>

					<footer>
						<p class="status">
                                <span>
												<span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #CCCCCC;"><i class="fa fa-star" ></i></span>
                                <span class="review">
													(<span>155</span>)
                                </span>
                                </span>
						</p>
						<div class="action-btn">
							<a class="btn btn-xs btn-primary" href="#">Contratar</a>
						</div>
					</footer>
				</div>
			</div>
			<!-- END Garage detail -->

			<!-- Garage detail -->
			<div class="col-md-6 col-xs-12">
				<div class="item-block">
					<header>
						<a href="#"><img src="{% static 'autoblue/img/cartudo.jpg' %}" alt=""></a>
						<div class="hgroup">
							<h4><a href="#">Cartudo Soluções Automotivas</a></h4>
							<h5>Mecânica Geral<span class="label label-success">Popular</span></h5>
						</div>
						<div class="header-meta">
							<span class="location">São Paulo - SP</span>
						</div>
					</header>

					<footer>
						<p class="status">
                                <span>
												<span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #CCCCCC;"><i class="fa fa-star" ></i></span>
                                <span class="review">
													(<span>155</span>)
                                </span>
                                </span>
						</p>
						<div class="action-btn">
							<a class="btn btn-xs btn-primary" href="#">Contratar</a>
						</div>
					</footer>
				</div>
			</div>
			<!-- END Garage detail -->

			<!-- Garage detail -->
			<div class="col-md-6 col-xs-12">
				<div class="item-block">
					<header>
						<a href="#"><img src="{% static 'autoblue/img/cartudo.jpg' %}" alt=""></a>
						<div class="hgroup">
							<h4><a href="#">Cartudo Soluções Automotivas</a></h4>
							<h5>Mecânica Geral<span class="label label-success">Popular</span></h5>
						</div>
						<div class="header-meta">
							<span class="location">São Paulo - SP</span>
						</div>
					</header>

					<footer>
						<p class="status">
                                <span>
												<span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #CCCCCC;"><i class="fa fa-star" ></i></span>
                                <span class="review">
													(<span>155</span>)
                                </span>
                                </span>
						</p>
						<div class="action-btn">
							<a class="btn btn-xs btn-primary" href="#">Contratar</a>
						</div>
					</footer>
				</div>
			</div>
			<!-- END Garage detail -->

			<!-- Garage detail -->
			<div class="col-md-6 col-xs-12">
				<div class="item-block">
					<header>
						<a href="#"><img src="{% static 'autoblue/img/cartudo.jpg' %}" alt=""></a>
						<div class="hgroup">
							<h4><a href="#">Cartudo Soluções Automotivas</a></h4>
							<h5>Mecânica Geral<span class="label label-success">Popular</span></h5>
						</div>
						<div class="header-meta">
							<span class="location">São Paulo - SP</span>
						</div>
					</header>

					<footer>
						<p class="status">
                                <span>
												<span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #CCCCCC;"><i class="fa fa-star" ></i></span>
                                <span class="review">
													(<span>155</span>)
                                </span>
                                </span>
						</p>
						<div class="action-btn">
							<a class="btn btn-xs btn-primary" href="#">Contratar</a>
						</div>
					</footer>
				</div>
			</div>
			<!-- END Garage detail -->

			<!-- Garage detail -->
			<div class="col-md-6 col-xs-12">
				<div class="item-block">
					<header>
						<a href="#"><img src="{% static 'autoblue/img/cartudo.jpg' %}" alt=""></a>
						<div class="hgroup">
							<h4><a href="#">Cartudo Soluções Automotivas</a></h4>
							<h5>Mecânica Geral<span class="label label-success">Popular</span></h5>
						</div>
						<div class="header-meta">
							<span class="location">São Paulo - SP</span>
						</div>
					</header>

					<footer>
						<p class="status">
                                <span>
												<span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star" ></i></span>
                                <span style="color: #CCCCCC;"><i class="fa fa-star" ></i></span>
                                <span class="review">
													(<span>155</span>)
                                </span>
                                </span>
						</p>
						<div class="action-btn">
							<a class="btn btn-xs btn-primary" href="#">Contratar</a>
						</div>
					</footer>
				</div>
			</div>
			<!-- END Garage detail -->
		</div>
		<!-- End Single Garage detail -->
	</div>
</section>
{% endblock content %}
