{% extends 'core/base.html' %}

{% block content %}
  <h1>Garages</h1>
  <h1>Garages</h1>
  <h1>Garages</h1>
  <h1>Garages</h1>
  <h1>Garages</h1>
  <h1>Garages</h1>
  <h1>Garages</h1>
  <h1>Garages</h1>
  <h1>Garages</h1>
  <h1>Garages</h1>
  <h1>Garages</h1>
  <h1>Garages</h1>
{% endblock content %}
