{% extends 'core/base.html' %}
{% load static %}
{% block title %}login{% endblock title %}

{% block body_class %}login-page{% endblock body_class %}

{% block content %}
<section id="page-title" class="page-title-style2">
	<div class="color-overlay"></div>
	<div class="container inner-img">
		<div class="row">
			<div class="Page-title">
				<div class="col-md-12 text-center">
					<div class="title-text">
						<h2 class="page-title">User Register Page</h2>
					</div>
				</div>
				<div class="col-md-12 text-center">
					<div class="breadcrumb-trail breadcrumbs">
						<span class="trail-begin"><a href="{% url 'core:home' %}">Home</a></span>
						<span class="sep">/</span> <span class="trail-end">Register</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<main class="main-content">

	<div class="login-block">
		<img src="{% static 'autoblue/img/autoblue-icon.png' %}" alt="" style="width: 50px;">
		<h1>Create an account</h1>

		<form action="#">

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="ti-user"></i></span>
					<input type="text" class="form-control" placeholder="Your name">
				</div>
			</div>

			<hr class="hr-xs">

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="ti-email"></i></span>
					<input type="text" class="form-control" placeholder="Your email address">
				</div>
			</div>

			<hr class="hr-xs">

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="ti-unlock"></i></span>
					<input type="password" class="form-control" placeholder="Choose a password">
				</div>
			</div>

			<button class="btn btn-primary btn-block" type="submit">Sign up</button>

			<div class="login-footer">
				<h6>Or register with</h6>
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>

		</form>
	</div>

	<div class="login-links">
		<p class="text-center">Already have an account? <a class="txt-brand" href="user-login.html">Login</a></p>
	</div>

</main>
{% endblock content %}
